@charset "utf-8";

/*
*Filename: ax.css
*Description: Global CSS
*Version: v1.0.0(2020-08-23)
*Website:www.axui.cn or ax.hobly.cn
*Contact:3217728223@qq.com
*Author:Michael
*/


/*reset*/

body {
    text-align: left;
    font-size: 14px;
    color: #333333;
    line-height: 28px;
    font-family: "微软雅黑", "microsoft yahei", "Arial", "Helvetica Neue", "sans-serif", "宋体", "simsun";
}

body,
html {
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 0; */
    /* margin: 0; */
    background-color: #fff;
}

:focus {
    outline: 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

fieldset {
    border: 1px dotted #ccc;
    border-radius: 3px;
}

sup,
sub {
    font-size: 6px;
}

pre {
    color: #666666;
    font-size: 12px;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    line-height: 18px;
}

button[type='button'],
input[type='button'],
input[type='submit'],
input[type='text'],
input[type='search'],
input[type='reset'] {
    -webkit-appearance: none;
}

input[type='text'],
input[type='search'] {
    font-size: 14px;
}

em,
i {
    font-style: normal;
}

ul,
li,
form {
    list-style-image: none;
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

a,
span,
font,
input,
textarea,
select,
label,
i {
    display: inline-block;
    vertical-align: top;
}

a span,
label {
    cursor: pointer;
}

input,
textarea,
button {
    font-size: 14px;
    outline: none;
    resize: none;
    -webkit-appearance: none;
    transition: all 0.1s linear;
    vertical-align: top;
}

select {
    font-size: 14px;
    outline: none;
    resize: none;
    transition: all 0.1s linear;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

input[type=radio] {
    -webkit-appearance: radio;
}

input,
textarea,
select,
button {
    font-family: "微软雅黑", "microsoft yahei", "Arial", "Helvetica Neue", "sans-serif", "宋体", "simsun";
}

img {
    border: 0;
    vertical-align: middle;
}

svg {
    vertical-align: middle;
}

form,
div,
p {
    display: block;
}

p {
    margin: 0;
    padding: 0.6em 0 0.6em 0;
}

a {
    color: #333333;
    text-decoration: none;
    transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
}

a:hover {
    color: #198cff;
    text-decoration: none;
}

a:active {
    color: #0059b2;
    text-decoration: none;
}

.ax-cancel,
a.ax-cancel,
.ax-cancel a,
.ax-cancel:hover,
a.ax-cancel:hover,
.ax-cancel a:hover {
    color: #b3b3b3;
    text-decoration: line-through;
    margin: 0 4px;
    cursor: text;
}

a.ax-color-ignore,
.ax-color-ignore a {
    color: #b3b3b3;
    text-decoration: none;
}

a.ax-color-ignore:hover,
.ax-color-ignore a:hover {
    color: #b3b3b3;
    text-decoration: underline;
}

a.ax-color-primary,
.ax-color-primary a {
    color: #198cff;
    text-decoration: none;
}

a.ax-color-primary:hover,
.ax-color-primary a:hover {
    color: #198cff;
    text-decoration: underline;
}

a.ax-color-secondary,
.ax-color-secondary a {
    color: #475b66;
    text-decoration: none;
}

a.ax-color-secondary:hover,
.ax-color-secondary a:hover {
    color: #475b66;
    text-decoration: underline;
}

a.ax-color-success,
.ax-color-success a {
    color: #41a358;
    text-decoration: none;
}

a.ax-color-success:hover,
.ax-color-success a:hover {
    color: #41a358;
    text-decoration: underline;
}

a.ax-color-danger,
.ax-color-danger a {
    color: #dc3545;
    text-decoration: none;
}

a.ax-color-danger:hover,
.ax-color-danger a:hover {
    color: #dc3545;
    text-decoration: underline;
}

a.ax-color-warning,
.ax-color-warning a {
    color: #ffc107;
    text-decoration: none;
}

a.ax-color-warning:hover,
.ax-color-warning a:hover {
    color: #ffc107;
    text-decoration: underline;
}

a.ax-color-info,
.ax-color-info a {
    color: #14ccc9;
    text-decoration: none;
}

a.ax-color-info:hover,
.ax-color-info a:hover {
    color: #14ccc9;
    text-decoration: underline;
}

a.ax-color-ad,
.ax-color-ad a {
    color: #ff8400;
    text-decoration: none;
}

a.ax-color-ad:hover,
.ax-color-ad a:hover {
    color: #ff8400;
    text-decoration: underline;
}

a[class*='ax-btn']:hover {
    text-decoration: none;
}

.ax-iconfont {
    font-size: 14px;
    position: relative;
}

.ax-iconfont:before {
    position: relative;
    top: 1px;
}

.ax-svg {
    width: 14px;
    height: 14px;
}

@font-face {
    font-family: 'Oswald ExtraLight';
    src: url('../fonts/Oswald-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

.ax-font-lighter {
    font-family: 'Oswald ExtraLight';
}

@font-face {
    font-family: 'Oswald Light';
    src: url('../fonts/Oswald-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

.ax-font-light {
    font-family: 'Oswald Light';
}

@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/Oswald-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.ax-font-regular {
    font-family: 'Oswald Regular';
}

@font-face {
    font-family: 'Oswald SemiBold';
    src: url('../fonts/Oswald-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

.ax-font-bold {
    font-family: 'Oswald SemiBold';
}

@font-face {
    font-family: 'Oswald Bold';
    src: url('../fonts/Oswald-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

.ax-font-bolder {
    font-family: 'Oswald Bold';
}


/*placeholder*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input::-o-placeholder,
textarea::-o-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
}


/*global*/

.ax-clear {
    height: 0;
    width: 100%;
    overflow: hidden;
    clear: both;
    margin: 0px;
    padding: 0px;
}

.ax-scroll {
    overflow: hidden;
}

.ax-content {
    width: 1200px;
    margin: 0 auto;
}


/*radius square*/

.ax-radius,
*[class*="ax-btn"].ax-radius:after {
    border-radius: 3px;
}

.ax-radius-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ax-radius-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ax-radius-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ax-radius-right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ax-square,
*[class*="ax-btn"].ax-square,
*[class*="ax-btn"].ax-square:after {
    border-radius: 0;
}

.ax-square-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ax-square-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ax-square-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ax-square-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/*shadow*/

.ax-shadow {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.ax-shadow-light {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.06);
}

.ax-shadow-dark {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
}

.ax-shadow-lg {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}


/*ellipsis*/

.ax-ell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.ax-ell-2 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ax-ell-3 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ax-ell-subject {
    font-size: 18px;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.ax-ell-2-subject {
    font-size: 18px;
    max-height: calc(28px * 2);
    max-width: 100%;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ax-ell-3-subject {
    font-size: 18px;
    max-height: calc(28px * 3);
    max-width: 100%;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ax-ell-title {
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.ax-ell-2-title {
    font-size: 16px;
    max-height: calc(22px * 2);
    max-width: 100%;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ax-ell-3-title {
    font-size: 16px;
    max-height: calc(22px * 3);
    max-width: 100%;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ax-ell-body {
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.ax-ell-2-body {
    font-size: 14px;
    max-height: calc(22px * 2);
    max-width: 100%;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ax-ell-3-body {
    font-size: 14px;
    max-height: calc(22px * 3);
    max-width: 100%;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ax-ell-des {
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.ax-ell-2-des {
    font-size: 14px;
    max-height: calc(18px * 2);
    max-width: 100%;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ax-ell-3-des {
    font-size: 14px;
    max-height: calc(18px * 3);
    max-width: 100%;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ax-ell-ignore {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.ax-ell-2-ignore {
    font-size: 12px;
    max-height: calc(16px * 2);
    max-width: 100%;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ax-ell-3-ignore {
    font-size: 12px;
    max-height: calc(16px * 3);
    max-width: 100%;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/*border*/

.ax-border {
    border: 1px solid #ebebeb;
}

.ax-border-tb {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.ax-border-lr {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.ax-border-grid td,
.ax-border-grid th {
    position: relative;
}

.ax-border-grid td:before,
.ax-border-grid th:before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #ebebeb;
    position: absolute;
    left: 0;
    top: 0;
}

.ax-border-grid tr td:last-child:after,
.ax-border-grid tr th:last-child:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #ebebeb;
    position: absolute;
    right: 0;
    top: 0;
}


/*margin*/

.ax-margin {
    margin: 14px;
    box-sizing: border-box;
}

.ax-margin-tb {
    margin-top: 14px;
    margin-bottom: 14px;
    box-sizing: border-box;
}

.ax-margin-lr {
    margin-left: 14px;
    margin-right: 14px;
    box-sizing: border-box;
}

.ax-margin-left {
    margin-left: 14px;
    box-sizing: border-box;
}

.ax-margin-right {
    margin-right: 14px;
    box-sizing: border-box;
}


/*padding*/

.ax-padding {
    padding: 14px;
    box-sizing: border-box;
}

.ax-padding-tb {
    padding: 14px 0;
    box-sizing: border-box;
}

.ax-padding-lr {
    padding: 0 14px;
    box-sizing: border-box;
}


/*col break*/

.ax-gutter-xxs {
    width: 4px;
    overflow: hidden;
}

.ax-gutter-xs {
    width: 8px;
    overflow: hidden;
}

.ax-gutter-sm {
    width: 12px;
    overflow: hidden;
}

.ax-gutter,
.ax-gutter-md {
    width: 14px;
    overflow: hidden;
}

.ax-gutter-lg {
    width: 16px;
    overflow: hidden;
}

.ax-gutter-xl {
    width: 22px;
    overflow: hidden;
}

.ax-gutter-xxl {
    width: 28px;
    overflow: hidden;
}


/*row break*/

.ax-break-xxs {
    height: 4px;
    overflow: hidden;
}

.ax-break-xs {
    height: 8px;
    overflow: hidden;
}

.ax-break-sm {
    height: 10px;
    overflow: hidden;
}

.ax-break,
.ax-break-md {
    height: 14px;
    overflow: hidden;
}

.ax-break-lg {
    height: 18px;
    overflow: hidden;
}

.ax-break-xl {
    height: 22px;
    overflow: hidden;
}

.ax-break-xxl {
    height: 28px;
    overflow: hidden;
}


/*line break*/

.ax-gutter-line {
    height: 100%;
    width: 1px;
    background-color: #ebebeb;
}

.ax-border {
    border: 1px solid #ebebeb;
}

.ax-break-line {
    height: 1px;
    overflow: hidden;
    background-color: #ebebeb;
}

.ax-break-text {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    box-sizing: border-box;
    line-height: calc(28px + 1px);
}

.ax-break-text .ax-left,
.ax-break-text .ax-right {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    height: 1px;
    overflow: hidden;
    background-color: #ebebeb;
    margin-top: calc(28px / 2);
}

.ax-break-text span {
    color: #b3b3b3;
    margin: auto 14px;
}

.ax-break-text.ax-align-left .ax-left {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0;
    box-flex: 0;
    width: calc(38px);
}

.ax-break-text.ax-align-right .ax-right {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0;
    box-flex: 0;
    width: calc(38px);
}