<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>管理员登陆</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../static/css/login_manager.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
</head>

<body>

    <div id="particles-js">
         <form action="{{url_for('adminLogin')}}" method="post">
        <div class="login">
            <div class="login-top">
                登录
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="../static/image/login_manager/name.png" /></div>
                <div class="login-center-input">
                    <input type="text" id="adminname" name="adminname" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'" />

                    <div class="login-center-input-text">用户名</div>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="../static/image/login_manager/password.png" /></div>
                <div class="login-center-input">
                    <input type="password" id="pass" name="password" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" />

                    <div class="login-center-input-text">密码</div>
                </div>
            </div>
            <button class="login-button" style="border: 0; margin: 10px 43px; outline: none;">
                登陆
            </button>
        </div>
        <div class="sk-rotating-plane"></div>
             </form>
    </div>


    <!-- scripts -->
    <script src="../static/js/particles.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>

</html>