{% extends 'T_admin_base.html' %}
{% block title %}新建比赛{% endblock %}
{% block context %}
        <div id="global">
      <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">新建比赛</div>
            <div class="panel-body demo-btn">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                            <label>比赛名称</label>
                            <input type="text" class="form-control" placeholder="比赛名称" name="title">
                        </div>
                    <div class="form-group">
                        <label>参赛队伍</label>
                        <br>
                    <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        Option one is this and that&mdash;be sure to include why it's great
                                    </label>
                                </div>
                    <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        Option one is this and that&mdash;be sure to include why it's great
                                    </label>
                                </div>
                    </div>
                    <div class="form-group" style="margin-bottom:0">
                        <div class="col-sm-offset-2 col-sm-10 text-right">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}