{% extends 'T_admin_base.html' %}
{% block title %}新建比赛{% endblock %}
{% block context %}
<script language="JavaScript" type="text/javascript">
           function changeState(isChecked)
          {
             var chk_list=document.getElementsByTagName("input");
             for(var i=0;i<chk_list.length;i++)
               {
                  if(chk_list[i].type=="checkbox")
                    {
                      chk_list[i].checked=isChecked;
                    }
               }
        }
      </script>
        <div id="global">
      <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">新建比赛</div>
            <div class="panel-body demo-btn">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                            <label>比赛名称</label>
                            <input type="text" class="form-control" placeholder="比赛名称" name="gametitle">
                        </div>
                    <table class="table table-hover" style="margin-bottom:0">
                                    <label>参赛队伍</label>
                                    <thead>
                                        <tr>
                                            <th>队伍名</th>
                                            <th>靶机相关</th>
                                            <th>token</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for teaminfo in context%}
                                        <tr>
                                            <td>{{teaminfo.teamname}}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">已分配靶机 <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        {% for vulhub in teaminfo.vulhubList %}
                                                        <li><a href="#">{{vulhub.vulname}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{teaminfo.token}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                    <div class="form-group" style="margin-bottom:0">
                        <div class="col-sm-offset-2 col-sm-10 text-right">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}