{% extends 'T_admin_base.html' %}
{% block title %}公告添加{% endblock %}
{% block context %}
    <div id="global">
      <div class="container-fluid">
        <div class="panel panel-default">
                    <div class="panel-heading">添加公告</div>
            <form method="post">
                                    <div class="panel-body">
                        <div class="form-group">
                            <label>标题</label>
                            <input type="text" class="form-control" placeholder="标题" name="title">
                        </div>
                        <label>正文</label>
                                        <br>
                           <textarea style="width:1000px; height:400px; resize:none" name="content"></textarea>
                        <div class="form-group text-right" style="margin-top:20px">
                            <button type="submit" class="btn btn-default">提交</button>
                        </div>
                    </div>

            </form>
                </div>
            </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}