<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.min.css">
    <title>{%block title%}管理员后台主页{% endblock %}</title>
  </head>
  <body class="cm-no-transition cm-1-navbar">
    <div id="cm-menu">
      <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
      </nav>
      <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
          <div id="cm-menu-scroller">
            <ul class="cm-menu-items">
              <li class="active"><a href="{{url_for('start')}}" class="sf-cat">比赛管理</a></li>
              <li class="active"><a href="{{url_for('indexShow')}}" class="sf-device-tablet ">数据大屏</a></li>
                <li class="active"><a href="{{url_for('sysInfo')}}" class="sf-file-exe">系统配置</a></li>
                 <li class="cm-submenu">
                 <a class="sf-puzzle">管理相关<span class="caret"></span></a>
                                <ul>
                                    <li><a href="{{url_for('vulhubManage')}}">靶机管理</a></li>
                                    <li><a href="{{url_for('flagManage')}}">flag管理</a></li>
                                     <li><a href="{{url_for('noticeManage')}}">公告管理</a></li>
                                    <li><a href="{{url_for('teamManage')}}">账号管理</a></li>
                                </ul>
            </li>
                 <li class="cm-submenu">
                 <a class="sf-file-note">日志信息<span class="caret"></span></a>
                                <ul>
                                    <li><a href="{{url_for('useLog')}}">操作日志</a></li>
                                    <li><a href="{{url_for('loginLog')}}">登录日志</a></li>
                                </ul>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header id="cm-header">
      <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex"> <div class="dropdown pull-right">
                    <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li class="disabled text-center">
                            <a style="cursor:default;"><strong>Admin</strong></a>
                        </li>
                        <li>
                            <a href="{{url_for('LoginOut')}}"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
                        </li>
                    </ul>
                </div>
        </div>
      </nav>
    </header>
    {% block context %}
    <div id="global">

      <div class="container-fluid">
          <img src="../static/images/logo.jpg" style="max-width:1039px">
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
    {% endblock %}
    <script src="../static/assets/js/lib/jquery.min.js"></script>
    <script src="../static/assets/js/jquery.mousewheel.min.js"></script>
    <script src="../static/assets/js/jquery.cookie.min.js"></script>
    <script src="../static/assets/js/fastclick.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/clearmin.min.js"></script>
  </body>
</html>