{% extends 'T_admin_base.html' %}
{% block title %}公告修改{% endblock %}
{% block context %}
    <div id="global">
      <div class="container-fluid">
        <div class="panel panel-default">
                    <div class="panel-heading">修改公告</div>
                    <div class="panel-body">
                        <form method="post">
                            <div class="form-group">
                            <label>标题</label>
                            <input type="text" class="form-control" placeholder="标题" name="title" value="{{notice.title}}">
                        </div>
                        <label>正文</label>
                           <textarea style="width:1000px; height:400px; resize:none" name="content">{{notice.content}}</textarea>
                        <div class="form-group text-right" style="margin-top:20px">
                            <button type="submit" class="btn btn-default">修改</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}
