{% extends 'T_admin_base.html' %}
{% block title %}队伍修改{% endblock %}
{% block context %}
    <div id="global">
        <div class="container-fluid">
            <div class="row cm-fix-height">
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">编辑队伍</div>
                            <div class="panel-body">
                                <form class="form-horizontal" method="post">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">队伍名</label>
                                        <div class="col-sm-10">
                                            <input  name="teamname" class="form-control" id="inputEmail3" value="{{team.teamname}}" placeholder="队伍名">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">队伍TOKEN</label>
                                        <div class="col-sm-10">
                                            <input  name="token" class="form-control"  value="{{team.token}}" placeholder="队伍TOKEN">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">队伍密码</label>
                                        <div class="col-sm-10">
                                            <input  name="password" class="form-control" value="{{team.password}}"  placeholder="队伍密码">
                                        </div>
                                    </div>

                                    <div class="form-group">

                                    </div>
                                    <div class="form-group" style="margin-bottom:0">
                                        <div class="col-sm-offset-2 col-sm-10 text-right">

                                            <button type="submit" class="btn btn-primary">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}