{% extends 'T_admin_base.html' %}
{% block title %}比赛管理{% endblock %}
{% block context %}
<div id="global">
      <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body demo-btn">
                                   <button type="button" class="btn btn-default" onclick="javascript:window.location.href='{{ url_for('addGame') }}'">新建比赛</button>
                        </div>
                                      <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>比赛名</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 {% for tempgame in gamelist %}
                                    <tr class="active">
                                        <th scope="row">{{tempgame.id}}</th>
                                        <td>{{tempgame.gametitle}}</td>
                                        {% if tempgame.starttime %}
                                        <td>{{tempgame.starttime}}</td>
                                        {% else %}
                                        <td>暂无</td>
                                        {% endif %}
                                        {% if tempgame.endtime %}
                                        <td>{{tempgame.endtime}}</td>
                                        {% else %}
                                        <td>暂无</td>
                                        {% endif %}
                                        <td>
                                            {% if tempgame.is_start %}
                                            <button type="button" class="btn btn-default" disabled="disabled" onclick="javascript:window.location.href='{{url_for('startGame',gid=tempgame.id)}}'">开始</button>
                                            {% else %}
                                            <button type="button" class="btn btn-default" onclick="javascript:window.location.href='{{url_for('startGame',gid=tempgame.id)}}'">开始</button>
                                            {% endif %}
                                            {% if tempgame.is_end %}
                                            <button type="button" class="btn btn-default" disabled="disabled" onclick="javascript:window.location.href='#'">结束</button>
                                            {% else %}
                                            <button type="button" class="btn btn-default" onclick="javascript:window.location.href='#'">结束</button>
                                            {% endif %}
                                            <button type="button" class="btn btn-default" onclick="javascript:window.location.href='#'">删除</button>
                                       </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}