{% extends 'T_admin_base.html' %}
{% block title %}公告管理{% endblock %}
{% block context %}
    <div id="global">
      <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body demo-btn">
                       <button type="button" class="btn btn-default" onclick="javascript:window.location.href='{{ url_for('addNotice') }}'">添加公告</button>
            </div>
                                      <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>公告标题</th>
                                        <th>公告时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for notice in noticeList %}
                                <tr class="active">
                                        <th scope="row">{{notice.id}}</th>
                                        <td>{{notice.title}}</td>
                                        <td>{{notice.date}}</td>
                                       <td> <button type="button" class="btn btn-danger" onclick="javascript:window.location.href='{{ url_for('delNotice',nid=notice.id) }}'">删除</button>
                                           <button type="button" class="btn btn-default" onclick="javascript:window.location.href='{{ url_for('editNotice',nid=notice.id) }}'">编辑</button>
                                       </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}