{% extends 'T_admin_base.html' %}
{% block title %}队伍添加显示{% endblock %}
{% block context %}
    <div id="global">
        <div class="container-fluid">
            <div class="row cm-fix-height">
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">添加队伍显示</div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">队伍名</th>
                                        <td>{{team.teamname}}</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">队伍TOKEN</th>
                                        <td>{{team.token}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">队伍密码</th>
                                        <td>{{team.password}}</td>
                                    </tr>

                                </tbody>
                            </table>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group" style="margin-bottom:0">
                                        <div class="col-sm-offset-2 col-sm-10 text-right">

                                            <button type="button" class="btn btn-primary" onclick="javascript:window.location.href='{{ url_for('teamManage') }}'">确定</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}