{% extends 'T_admin_base.html' %}
{% block title %}系统配置{% endblock %}
{% block context %}
    <div id="global">
        <div class="container-fluid">
            <div class="row cm-fix-height">
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">系统配置</div>
                            <div class="panel-body">
                                <form class="form-horizontal" method="post" action="{{url_for('sysInfo')}}">
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label">flag前缀</label>
                                        <div class="col-sm-10">
                                            <input name="flagstart" type="text" class="form-control" placeholder="flag前缀" value="{{context.FLAG_START}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label">flag后缀</label>
                                        <div class="col-sm-10">
                                            <input name="flagend" type="text" class="form-control" placeholder="flag后缀" value="{{context.FLAG_END}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label">SSH默认密码</label>
                                        <div class="col-sm-10">
                                            <input name="sshpass" type="text" class="form-control" placeholder="SSH默认密码" value="{{context.SSHPASS}}">
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom:0">
                                        <div class="col-sm-offset-2 col-sm-10 text-right">

                                            <button type="submit" class="btn btn-primary">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}