{% extends 'T_admin_base.html' %}
{% block title %}队伍管理{% endblock %}
{% block context %}
    <div id="global">
      <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body demo-btn">
                       <button type="button" class="btn btn-default" onclick="javascript:window.location.href='{{ url_for('addTeam') }}'">添加团队</button>
            </div>
                                      <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>队伍名</th>
                                        <th>队伍TOKEN</th>
                                        <th>队伍密码</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%for team in teamList%}
                                    <tr class="active">
                                        <th scope="row">{{team.id}}</th>
                                        <td>{{team.teamname}}</td>
                                        <td>{{team.password}}</td>
                                        <td>{{team.token}}</td>
                                       <td> <button type="button" class="btn btn-danger" onclick="javascript:window.location.href='{{ url_for('delTeam',tid=team.id) }}'">删除</button>
                                           <button type="button" class="btn btn-default" onclick="javascript:window.location.href='{{ url_for('editTeam',tid=team.id) }}'">编辑</button>
                                       </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}
