{% extends 'T_admin_base.html' %}
{% block title %}靶机管理{% endblock %}
{% block context %}
    <div id="global">
      <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body demo-btn">
                       <button type="button" class="btn btn-default" onclick="javascript:window.location.href='{{ url_for('addVulhub') }}'">添加靶机</button>
            </div>
                                      <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>队伍编号</th>
                                        <th>标题</th>
                                        <th>IP</th>
                                        <th>服务端口</th>
                                         <th>SSH端口</th>
                                        <th>SSHName</th>
                                         <th>SSHPass</th>
                                         <th>DockerId</th>
                                         <th>状态</th>
                                         <th>描述</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for vulhub in vulhubList %}
                                    <tr class="active">
                                        <th scope="row">{{vulhub.id}}</th>
                                        <td>{{vulhub.tid}}</td>
                                        <td>{{vulhub.vulname}}</td>
                                        <td>{{vulhub.addr}}</td>
                                         <td>{{vulhub.serviceport}}</td>
                                         <td>{{vulhub.sshport}}</td>
                                         <td>{{vulhub.sshname}}</td>
                                         <td>{{vulhub.sshpass}}</td>
                                         <td>{{vulhub.dockerid}}</td>
                                         <td>{{vulhub.status}}</td>
                                         <td>{{vulhub.detail}}</td>
                                       <td>
                                           <button type="button" class="btn btn-default" onclick="javascript:window.location.href='{{ url_for('editVulhub',vid=vulhub.id) }}'">编辑</button>
                                           <button type="button" class="btn btn-danger" onclick="javascript:window.location.href='{{ url_for('delVulhub',vid=vulhub.id) }}'">删除</button>
                                       </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
        </div>
      </div>
      <footer class="cm-footer"><span class="pull-right">&copy; 凡渡_AWD攻防对抗平台.</span></footer>
    </div>
{% endblock %}