div,
ul,
li {
    margin: 0;
    padding: 0
}


/*先初始化一下默认样式*/

.notice {
    width: 300px;
    /*单行显示，超出隐藏*/
    height: 35px;
    /*固定公告栏显示区域的高度*/
    padding: 0 30px;
    background-color: #b3effe;
    overflow: hidden;
}

.notice ul li {
    list-style: none;
    line-height: 35px;
    /*以下为了单行显示，超出隐藏*/
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}